.input-group {
  width: 43rem !important;
  height: 3rem;
  margin: auto;
  margin-top: 8rem;
}

#background {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)),
    url("../../public/images/b6.jpg");
  background-size: cover;
}

.bg-height {
  height: 93.8vh;
}

@media (max-width: 650px) {
  .input-group,
  .info {
    width: 90% !important;
  }
}
